---
// This component represents a single toast message
// It will be dynamically added to ToastContainer by JavaScript

export interface Props {
  id: string
  message: string
  type: 'success' | 'error' | 'info'
}

const { id, message, type } = Astro.props

const baseClasses =
  'p-4 rounded-lg shadow-md text-white text-sm font-medium flex items-center gap-2'
let typeClasses = ''
let icon = ''

switch (type) {
  case 'success':
    typeClasses = 'bg-green-600'
    icon = `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" /></svg>`
    break
  case 'error':
    typeClasses = 'bg-red-600'
    icon = `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" /></svg>`
    break
  case 'info':
    typeClasses = 'bg-blue-600'
    icon = `<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" /></svg>`
    break
}

const combinedClasses = `${baseClasses} ${typeClasses}`
---

<div id={id} class={combinedClasses} role="alert" aria-live="assertive" aria-atomic="true">
  <Fragment set:html={icon} />
  <span>{message}</span>
</div>
